body {
    margin: 0;
    padding: 0;
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #e53939;
    padding: 0.1%;
}

li {
    display: inline;
    margin-right: 16px;
}

li a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

li a:hover {
    color: black;
}

.cabecalho {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin: 23px;
}

.text {
    padding: 15px;
}
    
.subtitulo {
    padding-top: 33px;        
}

p {
    max-width: 800px;
}

.imagem {
    max-width: 450px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}
.contato {
    background-color: rgba(128, 128, 128, 0.077);
    padding: 1%;
    margin: 0;
    text-align: center;
}

.subtitulo-contato {
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
}

form {
    max-width: 360px;
    margin: 45px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o preenchimento e a borda não aumentem o tamanho total */
}

input[type="submit"] {
    background-color: #e53939;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e53939;
}

.imagem-forms {
    display: flex;
    width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #e53939;
}



.icon {
    max-width: 46px;
    display: inline;
}